# Plan przygotowania
* Pomijamy kolumne full_name
* Rekordy posiadające ponad połowę NaN => drop
* Rekordy posiadający diameter NaN => drop
* Uzupełnienie pozostałych wartości NaN jako średnie

In [39]:
import pandas as pd
pd.set_option('display.max_columns', 30)

In [40]:
df = pd.read_csv('../Data/Asteroid_Updated.csv', delimiter = ',')
data_set = df.copy()

# Drop imienia
data_set.drop(columns=['name'], inplace=True)

In [41]:
data_set

,a,e,i,om,w,q,ad,per_y,data_arc,condition_code,n_obs_used,H,neo,pha,diameter,extent,albedo,rot_per,GM,BV,UB,IR,spec_B,spec_T,G,moid,class,n,per,ma
0,2.769165,0.076009,10.594067,80.305532,73.597694,2.558684,2.979647,4.608202,8822.0,0,1002,3.340,N,N,939.400,964.4x964.2x891.8,0.0900,9.074170,62.6284,0.713,0.426,NaN,C,G,0.12,1.594780,MBA,0.213885,1683.145708,77.372096
1,2.772466,0.230337,34.836234,173.080063,310.048857,2.133865,3.411067,4.616444,72318.0,0,8490,4.130,N,N,545.000,582x556x500,0.1010,7.813200,14.3000,0.635,0.284,NaN,B,B,0.11,1.233240,MBA,0.213503,1686.155999,59.699133
2,2.669150,0.256942,12.988919,169.852760,248.138626,1.983332,3.354967,4.360814,72684.0,0,7104,5.330,N,N,246.596,NaN,0.2140,7.210000,NaN,0.824,0.433,NaN,Sk,S,0.32,1.034540,MBA,0.226019,1592.787285,34.925016
3,2.361418,0.088721,7.141771,103.810804,150.728541,2.151909,2.570926,3.628837,24288.0,0,9325,3.200,N,N,525.400,572.6x557.2x446.4,0.4228,5.342128,17.8000,0.782,0.492,NaN,V,V,0.32,1.139480,MBA,0.271609,1325.432765,95.861936
4,2.574249,0.191095,5.366988,141.576605,358.687607,2.082324,3.066174,4.130323,63507.0,0,2916,6.850,N,N,106.699,NaN,0.2740,16.806000,NaN,0.826,0.411,NaN,S,S,NaN,1.095890,MBA,0.238632,1508.600458,282.366289
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
839709,2.812945,0.664688,4.695700,183.310012,234.618352,0.943214,4.682676,4.717914,17298.0,0,118,20.400,Y,Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.032397,APO,0.208911,1723.217927,156.905910
839710,2.645238,0.259376,12.574937,1.620020,339.568072,1.959126,3.331350,4.302346,16.0,9,15,17.507,N,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.956145,MBA,0.229090,1571.431965,13.366251
839711,2.373137,0.202053,0.732484,176.499082,198.026527,1.893638,2.852636,3.655884,5.0,9,6,18.071,N,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.893896,MBA,0.269600,1335.311579,355.351127
839712,2.260404,0.258348,9.661947,204.512448,148.496988,1.676433,2.844376,3.398501,10.0,9,13,18.060,N,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.680220,MBA,0.290018,1241.302609,15.320134
839713,2.546442,0.287672,5.356238,70.709555,273.483265,1.813901,3.278983,4.063580,11.0,9,11,17.406,N,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.815280,MBA,0.242551,1484.222588,20.432959

In [42]:
data_set.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 839714 entries, 0 to 839713
Data columns (total 30 columns):
a                 839712 non-null float64
e                 839714 non-null float64
i                 839714 non-null float64
om                839714 non-null float64
w                 839714 non-null float64
q                 839714 non-null float64
ad                839708 non-null float64
per_y             839713 non-null float64
data_arc          824240 non-null float64
condition_code    838847 non-null object
n_obs_used        839714 non-null int64
H                 837025 non-null float64
neo               839708 non-null object
pha               823272 non-null object
diameter          137636 non-null float64
extent            18 non-null object
albedo            136409 non-null float64
rot_per           18796 non-null float64
GM                14 non-null float64
BV                1021 non-null float64
UB                979 non-null float64
IR                1 non-null float64
spec_B            1666 non-null object
spec_T            980 non-null object
G                 119 non-null float64
moid              823272 non-null float64
class             839714 non-null object
n                 839712 non-null float64
per               839708 non-null float64
ma                839706 non-null float64
dtypes: float64(22), int64(1), object(7)
memory usage: 192.2+ MB

### Decyzje dotyczące wartości numerycznych:
* extent => drop (18 / 839714 wartości)
* GM => drop (14 / 839714 wartości)
* IR => drop (1 / 839714 wartość)
* G => drop (119 / 839714 wartości)

In [43]:
data_set.drop(columns=['extent', 'GM', 'IR', 'G'], inplace=True)
data_set

,a,e,i,om,w,q,ad,per_y,data_arc,condition_code,n_obs_used,H,neo,pha,diameter,albedo,rot_per,BV,UB,spec_B,spec_T,moid,class,n,per,ma
0,2.769165,0.076009,10.594067,80.305532,73.597694,2.558684,2.979647,4.608202,8822.0,0,1002,3.340,N,N,939.400,0.0900,9.074170,0.713,0.426,C,G,1.594780,MBA,0.213885,1683.145708,77.372096
1,2.772466,0.230337,34.836234,173.080063,310.048857,2.133865,3.411067,4.616444,72318.0,0,8490,4.130,N,N,545.000,0.1010,7.813200,0.635,0.284,B,B,1.233240,MBA,0.213503,1686.155999,59.699133
2,2.669150,0.256942,12.988919,169.852760,248.138626,1.983332,3.354967,4.360814,72684.0,0,7104,5.330,N,N,246.596,0.2140,7.210000,0.824,0.433,Sk,S,1.034540,MBA,0.226019,1592.787285,34.925016
3,2.361418,0.088721,7.141771,103.810804,150.728541,2.151909,2.570926,3.628837,24288.0,0,9325,3.200,N,N,525.400,0.4228,5.342128,0.782,0.492,V,V,1.139480,MBA,0.271609,1325.432765,95.861936
4,2.574249,0.191095,5.366988,141.576605,358.687607,2.082324,3.066174,4.130323,63507.0,0,2916,6.850,N,N,106.699,0.2740,16.806000,0.826,0.411,S,S,1.095890,MBA,0.238632,1508.600458,282.366289
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
839709,2.812945,0.664688,4.695700,183.310012,234.618352,0.943214,4.682676,4.717914,17298.0,0,118,20.400,Y,Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.032397,APO,0.208911,1723.217927,156.905910
839710,2.645238,0.259376,12.574937,1.620020,339.568072,1.959126,3.331350,4.302346,16.0,9,15,17.507,N,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.956145,MBA,0.229090,1571.431965,13.366251
839711,2.373137,0.202053,0.732484,176.499082,198.026527,1.893638,2.852636,3.655884,5.0,9,6,18.071,N,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.893896,MBA,0.269600,1335.311579,355.351127
839712,2.260404,0.258348,9.661947,204.512448,148.496988,1.676433,2.844376,3.398501,10.0,9,13,18.060,N,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.680220,MBA,0.290018,1241.302609,15.320134
839713,2.546442,0.287672,5.356238,70.709555,273.483265,1.813901,3.278983,4.063580,11.0,9,11,17.406,N,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.815280,MBA,0.242551,1484.222588,20.432959

### Drop wierszy posiadających ponad połowę NaN

In [44]:
data_set.dropna(axis=0, thresh=13)

,a,e,i,om,w,q,ad,per_y,data_arc,condition_code,n_obs_used,H,neo,pha,diameter,albedo,rot_per,BV,UB,spec_B,spec_T,moid,class,n,per,ma
0,2.769165,0.076009,10.594067,80.305532,73.597694,2.558684,2.979647,4.608202,8822.0,0,1002,3.340,N,N,939.400,0.0900,9.074170,0.713,0.426,C,G,1.594780,MBA,0.213885,1683.145708,77.372096
1,2.772466,0.230337,34.836234,173.080063,310.048857,2.133865,3.411067,4.616444,72318.0,0,8490,4.130,N,N,545.000,0.1010,7.813200,0.635,0.284,B,B,1.233240,MBA,0.213503,1686.155999,59.699133
2,2.669150,0.256942,12.988919,169.852760,248.138626,1.983332,3.354967,4.360814,72684.0,0,7104,5.330,N,N,246.596,0.2140,7.210000,0.824,0.433,Sk,S,1.034540,MBA,0.226019,1592.787285,34.925016
3,2.361418,0.088721,7.141771,103.810804,150.728541,2.151909,2.570926,3.628837,24288.0,0,9325,3.200,N,N,525.400,0.4228,5.342128,0.782,0.492,V,V,1.139480,MBA,0.271609,1325.432765,95.861936
4,2.574249,0.191095,5.366988,141.576605,358.687607,2.082324,3.066174,4.130323,63507.0,0,2916,6.850,N,N,106.699,0.2740,16.806000,0.826,0.411,S,S,1.095890,MBA,0.238632,1508.600458,282.366289
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
839709,2.812945,0.664688,4.695700,183.310012,234.618352,0.943214,4.682676,4.717914,17298.0,0,118,20.400,Y,Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.032397,APO,0.208911,1723.217927,156.905910
839710,2.645238,0.259376,12.574937,1.620020,339.568072,1.959126,3.331350,4.302346,16.0,9,15,17.507,N,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.956145,MBA,0.229090,1571.431965,13.366251
839711,2.373137,0.202053,0.732484,176.499082,198.026527,1.893638,2.852636,3.655884,5.0,9,6,18.071,N,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.893896,MBA,0.269600,1335.311579,355.351127
839712,2.260404,0.258348,9.661947,204.512448,148.496988,1.676433,2.844376,3.398501,10.0,9,13,18.060,N,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.680220,MBA,0.290018,1241.302609,15.320134
839713,2.546442,0.287672,5.356238,70.709555,273.483265,1.813901,3.278983,4.063580,11.0,9,11,17.406,N,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.815280,MBA,0.242551,1484.222588,20.432959

### Rekordy posiadające diameter = NaN => drop
#### Jest ich aż 702 078, więc nie będziemy uzupełniać średnią

In [45]:
data_set = data_set[pd.notnull(data_set['diameter'])]
data_set

,a,e,i,om,w,q,ad,per_y,data_arc,condition_code,n_obs_used,H,neo,pha,diameter,albedo,rot_per,BV,UB,spec_B,spec_T,moid,class,n,per,ma
0,2.769165,0.076009,10.594067,80.305532,73.597694,2.558684,2.979647,4.608202,8822.0,0,1002,3.34,N,N,939.400,0.0900,9.074170,0.713,0.426,C,G,1.59478,MBA,0.213885,1683.145708,77.372096
1,2.772466,0.230337,34.836234,173.080063,310.048857,2.133865,3.411067,4.616444,72318.0,0,8490,4.13,N,N,545.000,0.1010,7.813200,0.635,0.284,B,B,1.23324,MBA,0.213503,1686.155999,59.699133
2,2.669150,0.256942,12.988919,169.852760,248.138626,1.983332,3.354967,4.360814,72684.0,0,7104,5.33,N,N,246.596,0.2140,7.210000,0.824,0.433,Sk,S,1.03454,MBA,0.226019,1592.787285,34.925016
3,2.361418,0.088721,7.141771,103.810804,150.728541,2.151909,2.570926,3.628837,24288.0,0,9325,3.20,N,N,525.400,0.4228,5.342128,0.782,0.492,V,V,1.13948,MBA,0.271609,1325.432765,95.861936
4,2.574249,0.191095,5.366988,141.576605,358.687607,2.082324,3.066174,4.130323,63507.0,0,2916,6.85,N,N,106.699,0.2740,16.806000,0.826,0.411,S,S,1.09589,MBA,0.238632,1508.600458,282.366289
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
797860,3.171225,0.159119,27.098625,309.036573,19.746812,2.666623,3.675826,5.647402,2373.0,1,50,16.20,N,N,3.793,0.0210,NaN,NaN,NaN,NaN,NaN,1.66301,MBA,0.174527,2062.713583,164.999439
798077,2.548410,0.076071,11.593237,246.298656,170.090810,2.354549,2.742270,4.068291,3297.0,2,33,17.30,N,N,2.696,0.0610,NaN,NaN,NaN,NaN,NaN,1.36733,MBA,0.242270,1485.943371,145.319581
798189,3.146246,0.220559,17.966646,137.981403,180.898833,2.452313,3.840180,5.580811,2839.0,1,47,16.80,N,N,2.917,NaN,NaN,NaN,NaN,NaN,NaN,1.43837,MBA,0.176610,2038.391053,174.609920
799752,3.051336,0.287449,14.456779,343.917822,342.614839,2.174231,3.928440,5.330196,2208.0,2,27,17.20,N,N,3.271,0.0720,NaN,NaN,NaN,NaN,NaN,1.16684,MBA,0.184914,1946.853973,175.708508
810375,2.417477,0.109001,4.525668,148.244819,31.949854,2.153970,2.680984,3.758822,3458.0,3,25,18.40,N,N,1.600,0.0230,NaN,NaN,NaN,NaN,NaN,1.15942,MBA,0.262217,1372.909600,170.888415

## Kolumny do sprawdzenia (condition_code, neo, pha, spec_B, spec_T, class)

In [46]:
data_set.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 137636 entries, 0 to 810375
Data columns (total 26 columns):
a                 137636 non-null float64
e                 137636 non-null float64
i                 137636 non-null float64
om                137636 non-null float64
w                 137636 non-null float64
q                 137636 non-null float64
ad                137636 non-null float64
per_y             137636 non-null float64
data_arc          137498 non-null float64
condition_code    137636 non-null object
n_obs_used        137636 non-null int64
H                 136889 non-null float64
neo               137636 non-null object
pha               137636 non-null object
diameter          137636 non-null float64
albedo            136406 non-null float64
rot_per           11188 non-null float64
BV                1005 non-null float64
UB                965 non-null float64
spec_B            1370 non-null object
spec_T            965 non-null object
moid              137636 non-null float64
class             137636 non-null object
n                 137636 non-null float64
per               137636 non-null float64
ma                137636 non-null float64
dtypes: float64(19), int64(1), object(6)
memory usage: 28.4+ MB

### Wartości sprawdzanych kolumn

In [47]:
for col in ('condition_code', 'neo', 'pha', 'spec_B', 'spec_T', 'class'):
    print(col + " |=>", data_set[col].value_counts())

condition_code |=> 0      126194
9        5643
0        2019
9.0       863
1         808
1         565
2         302
5         241
6         152
4         143
3         135
7         129
2          94
5.0        92
7.0        78
8          49
6.0        36
4.0        33
3          32
8.0        28
Name: condition_code, dtype: int64
neo |=> N    136786
Y       850
Name: neo, dtype: int64
pha |=> N    137415
Y       221
Name: pha, dtype: int64
spec_B |=> S        368
C        144
Ch       135
X        121
Xc        62
B         61
Sq        56
Sl        49
Xk        41
V         35
L         35
K         34
Cb        34
Sa        30
Xe        28
Sk        17
Cgh       15
Sr        15
A         15
T         14
Ld        12
D         11
Cg         9
Q          8
S:         7
O          4
R          4
X:         2
U          2
S(IV)      1
C:         1
Name: spec_B, dtype: int64
spec_T |=> S      329
C      140
X       52
M       38
D       35
      ...
BFC      1
DTU      1
F:       1
CP:      1
BU:      1
Name: spec_T, Length: 128, dtype: int64
class |=> MBA    126390
OMB      7510
TJN      1874
IMB       588
APO       486
MCA       355
AMO       269
ATE        95
CEN        49
TNO        13
AST         7
Name: class, dtype: int64

### Condition_code rzutujemy wszysyko na float i zostanie 9 typów {0,1,2,3,...9}, weźmiemy pod uwagę jako numeryczna wartość

### Kolumny zawierające wartość NaN

In [48]:
data_set.columns[data_set.isna().any()].tolist()

['data_arc', 'H', 'albedo', 'rot_per', 'BV', 'UB', 'spec_B', 'spec_T']

In [49]:
# Kategoryczne dane : braki
print('spec_B NaN\'s =', data_set['spec_B'].isna().sum())
print('spec_T NaN\'s =', data_set['spec_T'].isna().sum())

spec_B NaN's = 136266
spec_T NaN's = 136671

#### Uzupełnimy NaNy najpopularniejszą wartością
spec_B            1370 non-null objects <br>
spec_T            965 non-null objects

### Numeryczne wartości uzupełnić średnią,

In [50]:
data_set.describe()

,a,e,i,om,w,q,ad,per_y,data_arc,n_obs_used,H,diameter,albedo,rot_per,BV,UB,moid,n,per,ma
count,137636.000000,137636.000000,137636.000000,137636.000000,137636.000000,137636.000000,137636.000000,137636.000000,137498.000000,137636.000000,136889.000000,137636.000000,136406.000000,11188.000000,1005.000000,965.000000,137636.000000,137636.000000,1.376360e+05,137636.000000
mean,2.814613,0.145485,10.349182,169.827629,181.904551,2.402609,3.226618,4.884248,8969.818601,675.027740,15.177041,5.483228,0.130066,23.566011,0.768844,0.364108,1.420145,0.219640,1.783972e+03,183.116785
std,1.522740,0.077573,6.835111,102.713052,103.556464,0.516169,2.896374,25.532565,6165.176190,595.935104,1.407654,9.385735,0.109994,74.829904,0.088327,0.095707,0.512241,0.056980,9.325769e+03,103.411497
min,0.626226,0.000489,0.021855,0.000738,0.004466,0.081882,0.999956,0.495569,1.000000,5.000000,3.200000,0.002500,0.001000,0.029952,0.580000,0.120000,0.000166,0.000128,1.810067e+02,0.000517
25%,2.536714,0.089623,5.120506,82.334880,91.947943,2.068948,2.864438,4.040317,6291.000000,215.000000,14.400000,2.770000,0.053000,4.670000,0.700000,0.289000,1.082523,0.181231,1.475726e+03,94.301261
50%,2.750859,0.138543,9.389963,160.438430,183.669900,2.363897,3.167516,4.562581,7572.000000,496.000000,15.300000,3.956000,0.078000,7.560000,0.743000,0.360000,1.384935,0.216024,1.666483e+03,186.826667
75%,3.092537,0.191141,13.738588,256.268387,271.762261,2.685811,3.468608,5.438518,9731.000000,984.000000,16.100000,5.742000,0.188000,14.579500,0.850000,0.439000,1.699385,0.243948,1.986419e+03,271.468299
max,389.145964,0.984348,170.323647,359.990858,359.995174,40.465671,772.201080,7676.742943,72684.000000,9325.000000,29.900000,939.400000,1.000000,1880.000000,1.077000,0.655000,39.507000,1.988877,2.803930e+06,359.999979

In [51]:
data_set.fillna(data_set.mean(), inplace=True)

C:\Users\njana\Anaconda3\lib\site-packages\pandas\core\generic.py:6287: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._update_inplace(new_data)

In [52]:
# Sprawdzenie czy numeryczne wartości uzupełniono
data_set.columns[data_set.isna().any()].tolist()

['spec_B', 'spec_T']

### neo i pha rozbijemy na 2 neurony, class rozbijemy na 11 neuronów

In [53]:
data_set.shape

(137636, 26)

### Test na ujemne wartości
###### ( NaN w C# zamienimy na -1)

In [54]:
# Kolumny w których są braki
for col in ('data_arc', 'H', 'albedo', 'rot_per', 'BV', 'UB'):
    print(any(data_set[col]<0))

False
False
False
False
False
False

In [55]:
data_set['diameter']=pd.to_numeric(data_set['diameter'],errors='coerce')

C:\Users\njana\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [57]:
data_set['diameter'].max()

939.4

In [58]:
data_set['diameter'].min()

0.0025